.App {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form input {
  margin-right: 20px;
  padding: 10px;
  font-size: 16px;
  outline: none;
  width: 400px;
}

.form button {
  padding: 10px;
  background-color: #3960fa;
  color: #fff;
  outline: none;
  font-weight: 600;
}

.todos {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -87px;
  margin-top: 30px;
}
.todos__item {
  background-color: #962a06;
  padding: 10px;
  color: #fff;
  font-weight: 600;
  font-size: 18px;

  display: flex;
}

.todos__btn {
  margin-left: auto;
  background-color: transparent;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
}
.todos__item:not(:last-child) {
  margin-bottom: 15px;
}